*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.about{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
    background-color: black;
    padding-top: 20px;
    justify-content: space-between;
}

img{
    width:100%;
    height: 100%;
    
}

p{
   line-height: 30px;
    color: #ffff;
    font-size: 20px;
    padding: 30px;
}
.about  div:first-child{
    flex: 1;
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.about div:last-child{
    width: 30%;
    
}
.about a{
    text-decoration: none;
    color: white;
    margin-top: 50px;
    /* border: #84b86b; */
    background-color: #84b86b;
    border-radius: 5px;
    padding: 5px 20px;

}


footer{
    background-color: gray; 
    height: 10vh;
}
.social-icons{
    width:70%;
    padding:20px;
    display: flex;
    background-color: gray;
    flex-direction: row;
    justify-content:space-evenly ;
    
    margin-left: 30px;
    align-items: center;
    width:100px;
    height: 20px;
}
.social-icons > img{
    padding: 20px;
    
}

