*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #2F2D2D;
}

.contacts-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    background-color: #1a1a1a;
    color: white;
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
}

.contact-details {
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: row;
    flex: 1;
    text-align: center;
    padding: 20px;
}

.contact-details img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.contact-details p {
    font-size: 18px;
    margin: 10px 0;
}

.contact-details span {
    font-weight: bold;
    color: #34A853;
}

.contact-details a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-details a:hover {
    color: #34A853;
}

.contact-details .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 0;
}
.cont-form {
    flex: 1.5;
    padding: 20px;
    background-color: #2b2b2b;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.cont-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.cont-form form {
    display: flex;
    flex-direction: column;
}

.form-input {
    margin-bottom: 20px;
}

.form-input label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

.form-input input,
.form-input textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: white;
}

.form-input input::placeholder,
.form-input textarea::placeholder {
    color: #999;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #34A853;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #287a3d;
}


footer {
    background-color: black;
    /* height: 10vh; */
    padding: 1rem 0;
    
    width: 100%;
    display: flex;
}


footer a img {
    width: 50px;
    margin-left: 1rem;
}